<!DOCTYPE html>
<html>
<head>
  <title>Iniciar sesión</title>
  <link href="./static/login.css" rel="stylesheet">
</head>
<body>
  <div class="card">
    <h1>Iniciar sesión</h1>
    <form action="/login" method="POST">
      <div class="form-group">
        <input type="email" id="email" name="email" required autocomplete="off" placeholder="Correo electrónico">
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" required autocomplete="off" placeholder="Contraseña">
      </div>
      <div class="button-container">
        <button type="submit">Iniciar sesión</button>
        <button type="button" onclick="window.location.href='/registro'">Registrarse</button>
      </div>
    </form>
  </div>
</body>

</html>
