<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link href="./static/registro.css" rel="stylesheet">
</head>
<body>
    <div class="card">
        <h1>Registro de usuario</h1>
        <form action="/registro" method="POST">
            <input type="text" id="username" name="username" required placeholder="Nombre de usuario">
            
            <input type="email" id="email" name="email" required placeholder="Correo electrónico">
            
            <input type="text" id="name" name="name" required placeholder="Nombre">
            
            <input type="password" id="password" name="password" required placeholder="Contraseña">
            
            <button type="submit" value="Registrarse" href="login.html" >Registrarse</button>
        </form>
    </div>
</body>
</html>