.footer{
    background: #152F4F;
    color:white;

    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }
    .about-company{
      i{font-size: 25px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    }
    .location{
      i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);}
  }
  .meromap
{
    height: 60px;
    width: 140px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.play-store
{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.imagenes
{
    height: 50px;
    width: 30px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-item
{
    margin-right: 20px;
}