body
{
    background-color: black;
}

.nav-item
{
    margin-right: 20px;
}
.navbar-brand
{
    font-size : 100px;
}
.imagenes
{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.meromap
{
    height: 80px;
    width: 120px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.container-fluid {
    margin: 0 auto;
  }
  img:hover {
    transform: scale(1.1);
  }
  body
  {
      background-color: black;
  }

  .nav-item
  {
      margin-right: 20px;
  }
  .navbar-brand
  {
      font-size : 100px;
  }
  .imagenes
  {
      height: 30px;
      width: 30px;
      border-radius: 5px;
      transition: all 0.3s ease;
  }
  .meromap
  {
      height: 80px;
      width: 120px;
      border-radius: 5px;
      transition: all 0.3s ease;
  }
  .container-fluid {
      margin: 0 auto;
    }
    img:hover {
      transform: scale(1.1);
    }
