<!DOCTYPE html>
<html lang="es">

    <head>
        <link href="styles.css" rel="stylesheet">
        <title>
            Hola mundo!
        </title>
    </head>
    <body>
        <h1>Bienvenidos a mi pagina</h1>
        <h2>Espero que les guste</h2>
        <p> o sino te  jodiste mano </p>
        <img class= "imagenes" alt = "Queso" src= "/queso.jpg">
        <img class= "imagenes" alt = "inglish" src= "/imging.jpg">
        <!-- <iframe widht = "800" height = "350"
        src= "https://youtu.be/Hg469wSrZhI?si=Y6qmt39yGcsJG9ih"
        frameborder= "0" allow="web-share" allowfullscreen></iframe> -->

    </body>
</html>

