body
  {
      background-color: black;
      margin: 0;
      height: 100%;
  }

.selector-for-some-widget {
    box-sizing: content-box;
  }
  .images{
    height: 120px;
    width: 150px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .container-fluid {
    margin: 0;
    background-color: #4ac;
  }
  img:hover {
    transform: scale(1.1);
  }


.imgcontenedor{
  text-align: center;
  }

  .images{
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }